<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <title>Sistema Acadêmico</title>
</head>

<body th:object="${student}">
  <!-- HEADER -->
  <div th:replace="/header :: header"></div>
  <!-- BODY -->
  <div class="justify-content-start d-flex">
    <div>
      <h3 data-th-text="${student.name}"></h3>
      <h5 data-th-text="${student.getFormattedDocumentNumber()}"></h5>
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editTeacherModal">
      Editar
    </button>
  </div>
  <h4>Disciplinas</h4>
  <h4 th:if="${student.disciplines.isEmpty()}">
    Não há disciplinas para mostrar
  </h4>
  <ul th:if="${!student.disciplines.isEmpty()}" class="list-group" data-th-each="discipline : ${student.disciplines}">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold" data-th-text="${discipline.name}"></div>
        <div data-th-text="|Semestre: ${discipline.year}.${discipline.semester}|"></div>
      </div>
      <a class="btn btn-primary" role="button"
        th:href="@{'/disciplines/view_discipline/'+${discipline.id}}">Visualizar</a>
      <a class="btn btn-primary" role="button" href="#">Editar</a>
      <a class="btn btn-primary" role="button" href="#">Deletar</a>
    </li>
  </ul>
</body>

</html>